.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.clockwise {
  animation: clockwise infinite 20s linear;
}

.anticlockwise {
  animation: anticlockwise infinite 20s linear;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #282c34;
  border-right: 1px solid #ccc;
  transition: left 0.3s ease;
  font-size: calc(5px + 2vmin);
  color: white;
}

.sidebar.visible {
  left: 0;
}

.App-header.with-sidebar {
  margin-left: 250px;
}

.Togglebutton {
  margin-top: 50px;
  margin-bottom: 20px;
}